@font-face {
  font-family: 'TheBoldFont';
  src : url('../fonts/theboldfont.ttf');
}

input:focus, button:focus {
  outline-width: 0;
}

body {
  width : 100%;
  height : 100%;
  margin: 0;
  padding: 0;
  min-width: 428px;
  min-height: 600px;
  overflow: hidden;
}
#mainPage{
  /*  filter: blur(13.5px);
    transform: scale(1.1);
  */

  z-index: 1;
  min-height: 600px;
  height: 100%;
  width: 100%;
  min-width: 500px;
  overflow: hidden;
  background: url('../img/landing/bg.png') no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
}
#mainPage > navbar {
  text-shadow: 2px 5px 5px rgba(16, 16, 16, .5);
  min-width: 500px;
  font-family : 'Lato', sans-serif;
}

#mainPage navbar a {
  width: 280px;
  display: inline;
  font-size: 30.81pt;
  color: white;
  text-decoration: none;
}

#mainPage .categories-toggle {
  margin-left: 100px;
  display: inline;
  height: 25px;
  width: 41px;
  background: url('../img/landing/cat-bg.png') no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  cursor: pointer;
}
#mainPage navbar div {width:150px;}
#mainPage navbar div , #mainPage navbar div a{
  margin-top: 20px;
  color: white;
  font-size: 16pt;
  text-decoration: none;
}

#mainPage navbar div a:nth-child(even) {
  color: #d0456c;
}

#search {
  text-shadow: 2px 5px 5px rgba(16, 16, 16, .5);
  min-height: 50%;
}
#search  div{
  letter-spacing: 5px;
  font-family: 'TheBoldFont', 'Lato', 'sans-serif';
  color: white;
  font-size: 90.62pt;
}
#search  div p {
  letter-spacing: normal;
  font-family: 'Lato', 'sans-serif';
  font-size: 19pt;
  font-weight: 400;
}
#search div input:nth-child(odd) {
  width : 450px;
  margin-left: calc(50% - 225px);
  padding-left: 20px;
  border-radius: 30px;
  border: none;
  height : 65px;
  color: #154352;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18pt;
  box-shadow: 2px 5px 5px rgba(16, 16, 16, .5);
}
#search div input:nth-child(even) {
  height: 30px;
  width: 30px;
  border: none;
  font-weight: 300;
  background: url('../img/landing/search.png') no-repeat;
  background-size: contain;
  position: absolute;
  left: calc(50% + 175px);
  margin-top: 20px;
  cursor: pointer;
}

#lastPageToggle button{
  box-shadow: 0px 0px 5px rgba(16, 16, 16, .3);
  margin-top: -100px;
  cursor: pointer;
  width: 25px;
  height: 49px;
  border : none;
  background: url('../img/landing/thingy.png') no-repeat;
  background-size: cover;
  border-radius: 20px;
}
#lastPageToggle button img {
  border-radius: 100%;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(16, 16, 16, .5);
  margin-left: 0px;
  margin-top: -18px;
}

#navigator a{
  position: absolute;
  top: calc(50%);
  left: calc(100% - 80px);
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: none;
  border: 1px solid white;
  z-index: 4;
}
#navigator #one {
  margin-top: -15px;
  background: white;
}
#navigator #two {
  margin-top: 15px;
}
#navigator #three {
  margin-top: 30px;
  display: none;
}

#categories {
  z-index: 5;
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  top: -50px;
  left: -50px;
  background: rgba(0, 0, 0, .47);
}
#categories button{
  margin-top: 30px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 100%;
  background: #ae3d5d;
  cursor: pointer;
  box-shadow: 0px 0px 30px #ae3d5d;
}
#categories div{opacity: 0}
#categories .item{width:100%;overflow: hidden;margin-bottom: 30px;}
#categories .item img{
  width: 107px;
  height: 107px;
  margin-left: calc(50% - 58.5px);
  border-radius: 100%;
  cursor: pointer;
}
#categories h3 {
  cursor: pointer;
  margin: 15px;
  font-family: 'Lato';
  font-weight: 900;
  color: white;
  font-size: 25pt;
}
#categories p{
  font-family: 'Lato';
  font-weight: 400;
  color: white;
  font-size: 13pt;
}

#contactUs {
  min-width: 1280px;
  z-index: 2;
  width : 100%;
  height: 100%;
  background: white;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 100%;
}

#contactUs #leftMenu {
  overflow: hidden;
  height: 100%;
  width : 40%;
  min-width : 550px;
  min-height : 950px;
  background : url('../img/contactUs/leftMenu2.png') right top;
   padding : 0px;
  margin : 0px;
  margin-left: -100%;
}
#contactUs #leftMenu #team {
  margin-top: 150px;
  width : 60%;
  margin-left :5%;
}
#contactUs #leftMenu .member {}
#contactUs #leftMenu .member div:nth-child(even) {
  float : right;
  margin-right : 15px;
  margin-top : 45px;
  color : #1d1e3b;
  font-family: 'Lato';
  font-weight: 900;
  text-align: right;
}
#contactUs #leftMenu .member div:nth-child(even) h3 {
  color : white;
  font-family: 'Lato';
  font-size : 18pt;
  font-weight: 900;
}
#contactUs #leftMenu .member img {
  box-shadow: 0px 0px 5px rgba(0,0,0, .3);
  width : 100px;
  height : 100px;
  margin-top: 15px;
  border-radius: 100%;
  float : right;
}
#contactUs #leftMenu .member div:nth-child(odd) {
  float: right;
  margin-top: 10px;
  font-family: 'Lato';
  color : white;
  font-size : 10pt;
  text-align: right;
}
#contactUs #content{
  opacity : 0;
  width : 60%;
  position: absolute;
  left: 35%;
}
#contactUs #content h3{
  color : #276d7b;
  font-family : 'Lato';
  font-weight : 900;
  font-size : 27pt;
  margin-left: 10px;
}
#contactUs #content p{
  color : #21333e;
  font-family: 'Lato';
  font-size: 13pt;
}
#contactUs #content img {
  margin-top: 150px;
}

#loginPage , #signupPage{
  overflow: hidden;
  width : 0px;
  height : 0px;
  position: absolute;
  z-index: 8;
  left : 100%;
  top : 0;
  border-radius : 100%;
  background: rgba(0, 0, 0, .47);
}

#loginPage  > div, #signupPage > div {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  padding-top: 50px;
  width : 500px;
  height : 450px;
  border-radius: 30px;
  overflow: hidden;
  background: url('../img/login/bg.png');
}
 #signupPage > div {height : 700px;}
#loginPage  > div  h3 , #signupPage > div h3{
  font-family: 'Lato';
  font-size: 35pt;
  font-weight: 900;
  color : white;
}
#loginPage form , #signupPage form {
  width : 70%;
  margin-left: 15%;
}
#loginPage form .form-group , #signupPage .form-group{
  font-family: 'Lato';
  font-size : 18pt;
  color : white;
}
#loginPage form  input, #signupPage form input{
  border-radius: 30px;
  background : #2f5b6a;
  border : none;
  height : 45px;
  color : white;
}

#loginPage #btn, #signupPage #btn{
  height : 75px;
  background: white;
}
#loginPage #btn a , #signupPage #btn a{
  float : left;
  margin-left: 15%;
  color : #2f5b6a;
  font-family: ('lato');
  font-size : 14pt;
  margin-top : 30px;
  text-decoration: none;
}
#loginPage button , #signupPage button{
  background : url("../img/login/bg.png");
  float: right;
  border : none;
  border-radius: 30px;
  width : 100px;
  height : 45px;
  font-size : 14pt;
  margin-right: 15%;
  cursor: pointer;
  color : white;
  margin-top : 20px;
}
#searchPage {
  z-index: 4;
  width : 100%;
  height : 90%;
  position: absolute;
  top : 100%;
  background  :#ffffff;
  overflow: hidden;
}
#searchPage  #searchPageItems {
  width : 100%;
  height : 100%;
  overflow-y: scroll;
}
#searchPage  #searchItem {
    width : 100%;
    height : 200px;
}
#searchPage #searchItem:nth-child(odd){background : #f3f8f9;}
#searchPage  #searchItem #Box {
  height : 175px;
  width :175px;
  background : #2a7084;
  margin : 10px;
  border-radius : 15px;
}
#searchPage  #searchItem #text{  margin-top : 50px; margin-left : 20px;width : 80%;}
#searchPage  #searchItem #text h3{
  font-family: 'Lato';
  font-weight: 900;
  font-size: 21pt;
  color : #2a7084;
}
#searchPage  #searchItem #text p {
  font-family: 'Lato';
  width : 80%;
  font-size: 13pt;
  color : #154655;
}
#searchPage  #searchItem #level {
  margin-top: 25px;
  width : 20%;
}
#searchPage  #searchItem #level p {
  font-family: 'Lato';
  font-weight : 900;
  font-size : 13pt;
  width : 70%;
  color : #154655;
}
#searchPage  #searchItem #level p span {
  font-size : 13pt;
  font-family: 'Lato';
  font-weight : 900;
  text-align: left;
  color : #2a7084;

}
@media screen and (max-width: 1280px) {
  #search  div:nth-child(odd){
      font-size: 70pt;
  }
}
@media screen and (max-width: 768px) {
  #search  div:nth-child(odd){
      font-size: 40pt;
  }
  #search  div:nth-child(odd) p{
      font-size: 15pt;
  }
  #mainPage .categories-toggle {
    margin-left: 0px;
  }
}
@media screen and (max-width: 531px) {
  #search div input:nth-child(even) {
    margin-top: -45px;
  }
  navbar div {
    margin-left: 500;
  }
}
